/* Navbar */
.navbar {
  background-color: #272727;
  height: 85px;
  font-family: 'Sofia Sans', sans-serif;
}

.head {
  margin-left: 7%;
  color: #FFFFFF;
}

.head a {
  font-size: 2rem;
  font-weight: bold;
  color: #FFFFFF;
}

.navbar-collapse{
  padding-left: 43%;
}

.navbar-collapse ul li {
  padding-left: 3.5%;
  padding-right: 3.5%;
}

.navbar-collapse ul li a {
  color: #FFFFFF;
}

.nav-item:hover {
  background-color: #ec5504;
  color: #FFFFFF;
}

/* About */
#Top {
  padding-top: 94px;
}

.about {
  padding-bottom: 3.5%;
  background-color: #ec5504;
  height: 21.5rem;
  width: 100%;
  color: #FFFFFF;
}

.title {
  padding-top: 1.7%;
  width: 50%;
  float: left;
}

.title a {
  margin-left: 15.5%;
  font-family: 'Moon Dance', cursive;
  font-size: 2.8rem;
  font-weight: bold;
}

.title p {
  margin-left: 15.5%;
  font-size: 15px;
}

.title button {
  margin-left: 15.5%;
}

.title_image {
  width: 50%;
  float: right;
}

.image1 {
  border: 10px solid #FFFFFF;
  border-top: none;
  width: 47%;
  margin-left: 18%;
  box-shadow: 0px 5px 10px #000000;
}

.image1 img {
  width: 100%;
}

/* Gallery */
.gallery {
  padding-top: 30px;
  padding-bottom: 20px;
  float: left;
  width: 65%;
}

.services {
  float: left;
  padding-left: 12%;
  width: 49%;
}

.gallery a {
  padding-left: 2px;
  font-size: 2.5rem;
  font-family: 'Moon Dance', cursive;
  font-weight: bold;
}

.images {
  border: 5px solid #FFFDE7;
  width: 23.5rem;
}

.images img {
  width: 100%;
  height: 100%;
}

.gallery p {
  padding-top: 6px;
  font-size: 85%;
}

.help {
  float: right;
  width: 40%;
}

/* History */
.history {
  padding-top: 30px;
  padding-bottom: 20px;
  float: right;
  width: 35%;
}

.news {
  padding-left: 10%;
  width: 85%;
}

.news a {
  padding-left: 2px;
  font-size: 2.5rem;
  font-family: 'Moon Dance', cursive;
  font-weight: bold;
}

.news h6 {
  padding-top: 3px;
  font-weight: bold;
  font-size: 82%;
}

.news p {
  padding-top: 1.5px;
  font-size: 85%;
  padding-bottom: 4.45px;
}

.button a {
  color: #ec5504;
  text-decoration: none;
  font-size: 85%;
}

/* Footer */
.footer {
  background-color: black;
}

.left {
  float: left;
  padding-top: 15px;
  padding-bottom: 20px;
  width: 65%;
  color: #FFFFFF;
}

.left a {
  font-size: 2.5rem;
  font-family: 'Moon Dance', cursive;
  font-weight: bold;
}

.follow {
  float: left;
  width: 55%;
  padding-left: 12%;
}

.follow img {
  width: 7%;
}

.follow p {
  color: #5C5C5C;
  padding-top: 1px;
  font-size: 85%;
}

.exclamination {
  float: right;
  padding-top: 13.5px;
  width: 45%;
}

.logo {
  float: left;
  width: 9.5%;
}

.logo img {
  width: 100%;
}

.points {
  float: left;
}

.points li {
  padding-top: 9px;
  color: #5C5C5C;
  font-size: 90%;
  line-height: 0.9;
}

.right {
  float: right;
  color: #FFFFFF;
  padding-top: 15px;
  padding-left: 5px;
  width: 35%;
}

.right p {
  color: #5C5C5C;
  padding-top: 1px;
  font-size: 85%;
}

.testimonial {
  float: left;
  width: 80%;
  padding-top: 7px;
}

.testimonial h2 {
  font-size: 2.5rem;
  font-family: 'Moon Dance', cursive;
  font-weight: bold;
}

.testimonial a {
  text-decoration: none;
  color: #ec5504;
  font-size: 80%;
}

.footer hr {
  color: #5C5C5C;
  width: 82%;
  margin-left: 8.5%;
}

.copyright {
  color: #5C5C5C;
  text-align: center;
  font-size: 72%;
}

.copyright a {
  text-decoration: none;
  color: #ec5504;
}
